*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#maincontainer{
    background-image: url("https://images.unsplash.com/photo-1621146027714-e8921770f8d0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D") !important;
    height: 100vh;
    width: 100%;
}
#mainformcontainer{
    background:linear-gradient(135deg ,rgb(152, 152, 196) rgb(135, 135, 170)) !important;
    border: 2px solid rgb(78, 73, 67);
    box-shadow: 20px 20px 40px blue;
}
#heading{
    height: 50px;
    width: 100%;
    font-size: 24px;
}
#checkbox{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
#button{
    height: 60px;
    width: 100%;
}
#button >button{
    height: 100%;
    width: 100%;
    font-size: 25px;
    outline: none;
    border: none;
    color: white;
}